<div class="container-fluid">
    <h1>Add Subject</h1>
<form [formGroup]="subjectadd">
    <div class="title">
        <h2 class="field-title"><span>Subject Details</span> </h2>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="" class="form-label">Subject ID</label>
                <input formControlName="subjectID" type="text" name="subjectID" id="" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="form-label">Class</label>
                <input type="text" name="class" formControlName="class" id="" class="form-control">
            </div>

        </div>

        <div class="col">
            <div class="form-group">
                <label for="" class="form-label">Subject Name</label>
                <input type="text" name="subjectName" id="" formControlName="subjectName" class="form-control">
            </div>
        </div>


    </div>

    <button class="btn btn-warning" (click)="addSubject()">Submit</button>

</form>
</div>